---
import Eventcard from "./../components/eventcard.astro";

let d = new Date();
let events = [
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
  {
    title: "Event name 1",
    imageUrl: "",
    dateTime: `${d.getDate()}-${d.getMonth()}-${d.getFullYear()}`,
  },
];
---

<div class="flex flex-col p-10 border-t-2 border-l-2" id="events">
  <div>
    <p
      class="text-[400%] mb-5 bg-gradient-to-b from-stone-200 to-transparent bg-clip-text text-transparent"
    >
      Events
    </p>
  </div>
  <div class="max-w-full relative">
    <div
      class="flex flex-row gap-x-4 -z-10 ml-5 overflow-x-scroll no-scrollbar"
    >
      {
        events.map((event, idx) => {
          return <Eventcard eventDetails={event} />;
        })
      }
    </div>
    <div
      class="w-full h-full absolute start-0 top-0 pointer-events-none z-50 bg-gradient-to-l from-black to-5% to-transparent"
    >
    </div>
    <div
      class="w-full h-full absolute start-0 top-0 pointer-events-none z-50 bg-gradient-to-r from-black to-5% to-transparent"
    >
    </div>
  </div>
</div>
<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
